/* Global Styles */
body {
    background-color: #1C2833;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #ECF0F1;
}

/* Button Styles */
.refresh-button, .stop-button {
    background-color: #3498DB;
    color: #ECF0F1;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.refresh-button:hover {
    background-color: #2980B9;
}

.stop-button {
    background-color: #E74C3C;
}

.stop-button:hover {
    background-color: #C0392B;
}

/* Label Styles */
.link-label, .modified-link-label {
    color: #A9CCE3; /* Light grey-blue color */
    background-color: #2C3E50; /* Dark grey background */
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px; /* Add padding for better readability */
    border-radius: 3px; /* Slightly rounded corners */
}

.end-date-label, .refresh-in-label {
    color: #A9CCE3; /* Light grey-blue color */
    background-color: #2C3E50; /* Dark grey background */
    font-size: 16px;
    margin-top: 10px;
    padding: 5px; /* Add padding for better readability */
    border-radius: 3px; /* Slightly rounded corners */
}

/* Pane Label Styles */
.link-label, .modified-link-label, .info-label, .debug-label {
    color: #A9CCE3; /* Light grey-blue color */
    background-color: #2C3E50; /* Dark grey background */
    font-weight: bold;
    font-size: 16px;
    padding: 5px; /* Add padding for better readability */
    border-radius: 3px; /* Slightly rounded corners */
    margin-bottom: 10px;
    text-align: center; /* Center-align the text */
}

/* Text Edit Styles */
.link-input, .modified-link-pane, .info-pane, .debug-pane {
    background-color: #34495E;
    color: #ECF0F1;
    border: 1px solid #2C3E50;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Checkbox Styles */
.checkbox {
    color: #ECF0F1;
    margin-right: 10px;
}
